:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-gray-color: #f5f4fa;
  --background-black-color: #2f303a;
  --logo-color: #000000;
}
/*Утилиты*/

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header*/

.page-header {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  display: block;
  padding: 24px 0;

  color: var(--logo-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}
/* Main nav*/

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

/* Site nav*/

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link {
  display: block;

  color: var(--title-text-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.page-header .current,
.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);
}

.icons-contacts {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.overlay {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img_back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--background-black-color);
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.button {
  background-color: var(--accent-color);
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  border-radius: 4px;
  border: solid 0px transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

/* Features*/

.features {
  padding-bottom: 47px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.feature-list {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.feature-item {
  width: 270px;
}
/*
.feature-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-gray-color);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
*/

.feature-list .feature-item + .feature-item {
  margin-left: 30px;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
}

/* example*/
.works {
  padding-top: 47px;
}

.works-list {
  display: flex;
  flex-basis: calc(100% / 3 - 30px);
}

.works-list .works-img + .works-img {
  margin-left: 30px;
}

/* team*/

.team {
  background-color: var(--background-gray-color);
}

.team-list {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background: var(--primary-white-color);
}
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.team-cards {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
/* footer*/

.logo-footer {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  padding: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-black-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-text .link {
  color: rgba(255, 255, 255, 0.6);
}

.address-text .address-title {
  color: var(--primary-white-color);
}

.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.address-text .link:hover,
.address-text .link:focus {
  color: var(--accent-color);
}
/* Портфолио */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.btn-portfolio {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px solid transparent;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filters .current,
.filters .btn-portfolio:hover,
.filters .btn-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.portfolio-element:nth-child(3n) {
  margin-right: 0;
}

.portfolio-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio .portfolio-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}

.card-content {
  padding: 20px 24px;
}
